* {
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
	min-height: 100vh;
}
.hide {
	display: none;
}
.view {
	width: 100vw;
	min-height: 100vh;
}
a {
	text-decoration: none;
	display: flex;
	align-self: center;
	justify-self: center;
	align-content: center;
}
button {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 120px;
	background: #D3EAF2;
	padding: 10px;
	border: 1px solid #90C3D4;
	color: #184B5C;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	margin: 5px;
	user-select: none;
	outline: none;
}
button:hover {
	border: 1px solid green;
}
button[disabled='disabled'] {
	opacity: 0.5;
}
.btn-group-row {
	display: flex;
}
input {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 240px;
	background: #D3EAF2;
	padding: 10px;
	border: 1px solid #90C3D4;
	color: #184B5C;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	margin: 5px;
	outline: none;
	text-align: center;
}
input:focus {
	border: 1px solid green;
}
input::-webkit-input-placeholder {
	color: #184B5C;
}
input:focus::-webkit-input-placeholder {
	color: transparent;
}
input[readonly='readOnly'] {
	opacity: 0.5;
}
@media (min-width: 960px) {
	/* Full Size */
	.view {
		
	}
}
@media (max-width: 960px) {
	/* Medium Size */
	.view {
		
	}	
}
@media (max-width: 480px) {
	/* Small Size */
	#body {
		display: flex;
	}
	.view {
		display: flex;
		flex-flow: nowrap column;
		justify-content: center;
		align-items: center;
		align-content: center;
		padding: 10px;
	}
}